$clr-grayish: hsl(237, 18%, 59%);
$clr-red: hsl(345, 95%, 68%);

$clr-100: hsl(0, 0%, 100%);
$clr-400: hsl(236, 21%, 26%);
$clr-600: hsl(235, 16%, 14%);
$clr-800: hsl(234, 17%, 12%);

$ff-regular: 'Red Hat Text', sans-serif;
$fw-bold: 700;

$fs-header_s: 18px;
$fs-header_l: 22px;

$fs-regular_s: 7px;
$fs-regular_l: 14px;

$fs-timer_s: 36px;
$fs-timer_l: 80px;
